@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

#themes-menu.open {
    display: inline;
    animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes message-toast-animate {
    from {
        opacity: 0;
        scale: 20%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

.messages-toast {
    animation: message-toast-animate normal .5s ease-in-out; 
}